@import url('https://fonts.googleapis.com/css?family=Arapey:100,200,300,400,500,600,700|ZCOOL+XiaoWei:100,200,300,400,500,600,700');

body {
    background-color: #e2e5e8
}

/*Header */
header {
    background-color: #415366;
}
.heading {
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}
.name {
    font-family: 'Arapey', serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #ffffff;
    display: inline;
    text-align: center;
}
.title {
    font-family: "Arial", sans-serif;
    font-weight: bold;
    font-size: 46px;
    font-style: italic;
    display:inline;
    text-align: center;
    color: #0099ff;
}
.span {
    font-style: italic;
}
/*----Navbar*/
ul {
    margin-top: 20px;
}
.menu-item {
    font-family: 'ZCOOL XiaoWei', serif;
    font-weight: 100;
    font-size: 25px;
    height: 40px;
    text-align: center;
    padding: 0;
    letter-spacing: 2px;
}

.menu-item a {
    width: 100%;
    text-decoration: none;
    color: #ffffff;
}

.menu-item span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
}
.menu-item:hover {
    background-color: #00ccaa;
}
.menu-item a:hover {
        color: #0000aa;
}
/* Footer */

/* Main content */

.main {
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 10px;
    margin-right: 0px;
    padding: 10px;
}
.welcome {
    font-family: 'ZCOOL XiaoWei', serif;
    font-weight: 200;
    font-size: 30px;
    text-align: center;
}
.sub-heading {
    font-family: 'ZCOOL XiaoWei', serif;
    font-weight: 200;
    font-size: 20px;
    text-align: center;
}
.photo {
    border: 1px solid #cacaca;
    padding: 5px;
    margin-bottom: 30px;
}
.caption {
    font-size: 12px;
    font-style: italic;
}
.side {
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px;
    height: 100%;
}
.thumbnail {
    margin: 0 auto;
    height: auto;
    padding: 5px;
    margin-bottom: 10px;
}
.img-thumbnail {
      border: 1px solid #ddd; /* Gray border */
      border-radius: 4px;  /* Rounded border */
      padding: 5px; /* Some padding */
      width: 100%; /* Set a small width */
      margin: 0 auto;
}
.caption {
    text-align: center;
}

footer {
    background-color: #415366;
    position: relative;
    bottom: 0;
    margin-top: 20px;
    color: #cccccc;
}
.contact-link {
    text-decoration: none;
    color: #ffffff;
}
.contact-link:hover {
    text-decoration: none;
    color: #ffff00;
}
.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #0099ff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: #000000;
}

@media(max-width: 992px) {
    .name, .title {
        display: inline-block;
    }
    .title {
        margin-top: 0;
    }
    
}

@media(max-width: 768px) {
    header {
        padding-bottom: 5px;
        padding-top: 5px;    
    }
    .heading {
        padding: 0px;
    }
    h1, h2 {
        margin-top: 0;
    }
    .name {
        margin: 0;
    }
    .mobile-link {
        height: 100%;
        margin-bottom: 30px;
    }
    .list-inline {
        font-size: 24px;
    }
}