@import url('https://fonts.googleapis.com/css?family=Arapey:100,200,300,400,500,600,700|ZCOOL+XiaoWei:100,200,300,400,500,600,700|Ubuntu:100,200,300,400,500,600,700');

/*================================== Colour Scheme */

body {
    background-color: #e2e5e8;
}

header, footer {
    background-color: #415366;
}

/*================================== Typography */

body {
    font-family: 'Ubuntu', sans-serif;
}
    
/*================================== Header */

h1, h2 {
    margin-top: 0;
}

.heading {
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.name {
    font-family: 'Arapey', serif;
    font-weight: 100;
    font-size: 46px;

    color: #ffffff;
    display: inline;
    text-align: center;
}

.title {
    font-family: "Arial", sans-serif;
    font-weight: bold;
    font-size: 46px;
    font-style: italic;
    display:inline;
    text-align: center;
    color: #0099ff;
}

.span {
    font-style: italic;
}

/*================================== Navbar */

.navX {
    width: 100%;
    margin: 10px 0 0 0;
    padding: 0;
}

ul {
    margin: 20px 0 0 0;
}

.nav {
    margin-bottom: 0;
}

.nav > li > a {
    padding: 10px 0 0 0;
    margin: 0;
    font-family: 'ZCOOL XiaoWei', serif;
    font-weight: 100;
    font-size: 25px;
    height: 40px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nav > li > a:hover {
    color: #ffffff;
    background-color: #0099ff;
}

.navbar-toggle {
    border: 1px solid #a7b9cc;
    margin-right: 5px;
    }

.icon-bar {
    color: #a7b9cc;
}

.container-fluid > .navbar-collapse {
    margin: 0;
}

.collapse {
    margin: 0;
}

/*================================== Main Section */

.main {
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 10px;
    margin-right: 0px;
    padding: 10px;
    border-top: 10px solid #415366;
    border-left: 1px solid #415366;
    border-bottom: 1px solid #415366;
    border-right: 1px solid #415366;
}

.welcome {
    font-family: 'ZCOOL XiaoWei', serif;
    font-weight: 200;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
}

.sub-heading {
    font-family: 'ZCOOL XiaoWei', serif;
    font-weight: 200;
    font-size: 20px;
    text-align: center;
}

.photo {
    border: 1px solid #a7b9cc;
    padding: 5px;
    margin-bottom: 30px;
}

/*================================== Side Panel */

.caption {
    font-size: 12px;
    font-style: italic;
}

.highlight {
    font-weight: 800;
}

.side {
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px;
    height: 100%;
    border-top: 10px solid #415366;
    border-left: 1px solid #415366;
    border-bottom: 1px solid #415366;
    border-right: 1px solid #415366;
}

.thumbnail {
    margin: 0 auto;
    height: auto;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #a7b9cc;
}

.img-thumbnail {
      border: 1px solid #a7b9cc; 
      padding: 5px; 
      width: 100%; 
      margin: 0 auto;
}

.thumb {   
    border-radius: 0;
    height: 100%;
    max-width: 400px;
}

.caption {
    text-align: center;
}

.caption-title {
    font-weight: 800;
    font-size: 15px;
    line-height: 20px;
}

/*================================== Image Galleries */

.info {
    margin-top: 20px;
}

.gallery {
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border-top: 10px solid #415366;
    border-left: 1px solid #415366;
    border-bottom: 1px solid #415366;
    border-right: 1px solid #415366;
}

.gallery-title {
    margin: 20px 15px 50px 15px; /* T R B L */
}

.image-margin {
    height: 400px;
    overflow: hidden;
    margin-top: 0px;
    margin-bottom: 20px;
}

.image-margin img {
    height: auto;
    width: 100%;
    margin-bottom: 0px;
/*    max-height: 400px;*/
}

.caption {
    height: auto;
    padding-top: 0px;
    margin-top: 0px;
}

.caption-title {
    font-weight: 800;
    text-align: center;
    font-size: 18px;
    margin-top: 0px;
}
.caption-text {
    font-style: italic;
    font-size: 12px;
    line-height: 15px;
}

/*================================== Modal */

.modal-dialog {
    width: 90%;
    height: auto;
}

.modal-header {
    background-color: #daecff;
    border-bottom: 1px solid #a7b9cc;
}

.img-modal {
    width: auto;
}
.modal-text {
    margin-top: 10px;
}

.modal-text > p {
    font-size: 14px;
}

.modal-footer {
    background-color: #daecff;
    border-top: 1px solid #a7b9cc;
}

.modal-button {
    background-color: #0099ff;
    color: #ffffff;
}

.modal-button:hover {
    background-color: #415366;
    color: #ffffff;
}

/*================================== Contact Form */

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
    margin-bottom: 100px;
}

input, select, textarea {
    margin-top: 10px;
}

select { 
    color: inherit;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #0099ff;
    color: #fafafa;
}

/*================================== Footer */

footer {
    position: relative;
    bottom: 0;
    margin-top: 20px;
    color: #cccccc;
}

.contact-link {
    color: inherit;
    text-decoration: none;
    font-weight: 600;
}

.contact-link:hover {
    text-decoration: none;
    color: #0099ff;
    font-weight: 600;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #0099ff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #0099ff;
    background-color: #ffffff;
}

/*================================== Media Queries */

@media(max-width: 992px) {
    .name, .title {
        display: inline-block;
    }
}

@media(max-width: 768px) {

    .name, .title {
        font-size: 32px ; 
    }

    .list-inline {
        font-size: 24px;
    }
    
}

@media(min-width: 1200px ) {
    
.image-margin {
    height: 600px;
    overflow: hidden;
    margin-top: 0px;
    margin-bottom: 20px;
}

.image-margin img {
    height: auto;
    width: 100%;
    margin-bottom: 0px;
    }
    
}

